<script src = "/vendor/jquery/jquery.min.js" > </script>
<script src = "/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src = "/vendor/jquery-easing/jquery.easing.min.js"> </script>
<!-- Custom scripts for all pages-->
<script src = "/js/sb-admin-2.min.js" ></script>
<!-- Custom scripts for blog list-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/css/bootstrap4/popper.js"></script>
<script src="/css/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/js/blog_custom.js"></script>

<!-- Custom css for contact -->
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>-->
<script src="/js/contact_custom.js"></script>

<!-- Custom css for about us -->
<script src="/plugins/greensock/TweenMax.min.js"></script>
<script src="/plugins/greensock/TimelineMax.min.js"></script>
<script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/plugins/greensock/animation.gsap.min.js"></script>
<script src=/"plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/js/about_custom.js"></script>

