<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cộng đồng cung cấp Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á - Chuyên trang cung cấp thông tin du lịch Việt Nam :
          Du lịch Đà Lạt, Kinh nghiệm du lịch Đà Lạt, Du lịch Hà Nội, Du lịch Huế, Du lịch Đà Nẵng, Du lịch Quảng Bình, Du lịch Nha Trang, Du lịch Phan Thiết, Du lịch SaPa, Du lịch Vũng Tàu">
    <meta name="author" content="<%= domain %>">
    <meta name="keywords"
          content="Thông tin du lịch, Cẩm nang du lịch, Kinh nghiệm du lịch, Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á">
    <link rel="canonical" href="https://thongtindulich.azurewebsites.net/">
    <!--Verify Google Master Tool -->
    <meta name="google-site-verification" content="_qsaaDP9sVp1Z0hVtj-tGKbViCma_oqvl5p7Fjzxo8o" />
    <title>Trang Thông tin du lịch Việt Nam chất lượng hàng đầu Đông Nam Á</title>

    <!--Include Style & Javascript External Library-->
    <% include ../partials/first_external_library.ejs %>

</head>

<body id="pagetop">


    <!-- Thêm Thanh điều hướng Desktop & Mobile Mode-->
    <% include ../partials/homepage_nav.ejs %>

    <!-- Home -->

    <div class="home">

        <!-- Home Slider -->

        <div class="home_slider_container">

            <div class="owl-carousel owl-theme home_slider">

                <!-- Slider Item 01 -->
                <div class="owl-item home_slider_item">
                    <!-- Image by https://unsplash.com/@anikindimitry -->
                    <div class="home_slider_background" style="background-image:url(images/home_slider.jpg)"></div>

                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="flipInX"
                             data-animation-out="animate-out fadeOut">
                            <h1>Khám phá</h1>
                            <h1>thế giới</h1>
                            <div class="button home_slider_button">
                                <div class="button_bcg"></div>
                                <a href="?topic=news">Khám phá ngay <span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>

                <!-- Slider Item 02-->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(images/home_slider.jpg)"></div>

                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="zflipInX"
                             data-animation-out="animate-out fadeOut">
                            <h1></h1>
                            <h1>Du lịch. Tại sao không?</h1>

                            <!-- Sub_Slide Section-->
                            <div class="container h-100 mt-5">
                                <div class="row h-100 align-items-center justify-content-center text-center">
                                    <div id="MastheadCarousel" class="col-lg-8 align-self-baseline carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ul class="carousel-indicators">
                                            <li data-target="#MastheadCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#MastheadCarousel" data-slide-to="1"></li>
                                            <li data-target="#MastheadCarousel" data-slide-to="2"></li>
                                        </ul>
                                        <!-- The slideshow -->
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <p class="text-white-75 font-weight-light mb-5 sub-slide-items">Thế giới là một cuốn sách, và
                                                    ai không đi chỉ đọc được một
                                                    trang! <br/>(St. Augustine)
                                                </p>
                                            </div>
                                            <div class="carousel-item">
                                                <p class="text-white-75 font-weight-light mb-5 sub-slide-items">Cuộc hành trình ngàn dặm bắt
                                                    đầu từ một bước chân nhỏ bé!
                                                    <br/>(Lão Tử)
                                                </p>
                                            </div>
                                            <div class="carousel-item">
                                                <p class="text-white-75 font-weight-light mb-5 sub-slide-items">Đừng nói với tôi bạn học hành
                                                    thế nào, hãy nói với tôi bạn
                                                    đi bao nhiêu! <br/>(Mohammed)
                                                </p>
                                            </div>
                                        </div>
                                        <!-- Left and right controls -->
                                        <a class="carousel-control-prev" href="#MastheadCarousel" data-slide="prev"> <span
                                                    class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next"
                                                                                                       href="#MastheadCarousel"
                                                                                                       data-slide="next"> <span
                                                    class="carousel-control-next-icon"></span> </a>
                                    </div>
                                </div>
                            </div>
                            <!--	++++++++++++++++++++++   -->

                        </div>
                    </div>
                </div>

            </div>

            <!-- Home Slider Nav - Prev -->
            <div class="home_slider_nav home_slider_prev">
                <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
					<defs>
                        <linearGradient id="home_grad_prev">
                            <stop offset="0%" stop-color="#fa9e1b"/>
                            <stop offset="100%" stop-color="#8d4fff"/>
                        </linearGradient>
                    </defs>
                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
					M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
					C22.545,2,26,5.541,26,9.909V23.091z"/>
                    <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
					11.042,18.219 "/>
				</svg>
            </div>

            <!-- Home Slider Nav - Next -->
            <div class="home_slider_nav home_slider_next">
                <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
					<defs>
                        <linearGradient id="home_grad_next">
                            <stop offset="0%" stop-color="#fa9e1b"/>
                            <stop offset="100%" stop-color="#8d4fff"/>
                        </linearGradient>
                    </defs>
                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
				M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
				C22.545,2,26,5.541,26,9.909V23.091z"/>
                    <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
				17.046,15.554 "/>
				</svg>
            </div>

            <!-- Home Slider Dots -->

            <div class="home_slider_dots">
                <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                    <li class="home_slider_custom_dot active">
                        <div></div>
                        01
                    </li>
                    <li class="home_slider_custom_dot">
                        <div></div>
                        02
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Search -->

    <div class="search">


        <!-- Search Contents -->

        <div class="container fill_height">
            <div class="row fill_height">
                <div class="col fill_height">

                    <!-- Search Tabs -->

                    <div class="search_tabs_container">
                        <div
                                class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <div
                                    class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                <img src="images/island.png" alt="Chuyên mục - Danh lam thắng cảnh"><span>Danh lam thắng cảnh</span>
                            </div>
                            <div
                                    class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                <img src="images/restaurant.png" alt="Chuyên mục - Nhà hàng & Khách sạn">Nhà hàng & Khách sạn
                            </div>
                            <div
                                    class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                <img src="images/food.png" alt="Chuyên mục - Món ăn">Món ăn
                            </div>
                            <!--<div-->
                            <!--		class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">-->
                            <!--	<img src="images/all.png" alt="">Tuỳ chọn-->
                            <!--</div>-->
                        </div>
                    </div>

                    <!-- Search Panel For "Danh Lam Thắng Cảnh" -->

                    <div class="search_panel active">
                        <form action="/filter" id="search_form_1" method="POST"
                              class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <div class="search_item">
                                <div>Từ khoá liên quan</div>
                                <input type="text" name = "keyword" id="option" class="destination search_input" required="required">
                            </div>
                            <div class="search_item">
                                <div>Địa điểm muốn đến</div>
                                <select name="locations" id="locations_1" class="dropdown_item_select search_input">
                                    <option name="Tất cả">Tất cả</option>
                                    <option name="Đà Lạt">Đà Lạt</option>
                                    <option name="Hà Nội">Hà Nội</option>
                                    <option name="Huế">Huế</option>
                                    <option name="Vũng Tàu">Vũng Tàu</option>
                                    <option name="SaPa">SaPa</option>
                                    <option name="Đà Nẵng">Đà Nẵng</option>
                                    <option name="Quảng Bình">Quảng Bình</option>
                                    <option name="Phan Thiết">Phan Thiết</option>
                                    <option name="Nha Trang">Nha Trang</option>
                                </select>
                            </div>
                            <button class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>

                    <!-- Search Panel For "Nhà hàng & Khách sạn" -->

                    <div class="search_panel">
                        <form action="#" id="search_form_2"
                              class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <div class="search_item">
                                <div>Từ khoá liên quan</div>
                                <input type="text" class="destination search_input" required="required">
                            </div>
                            <div class="search_item">
                                <div>Địa điểm khách sạn</div>
                                <input type="text" class="search_input">
                            </div>
                            <div class="search_item">
                                <div>Số người ở</div>
                                <input type="number" class="search_input" min="0">
                            </div>
                            <div class="search_item">
                                <div>Loại phòng</div>
                                <select name="adults" id="adults_2" class="dropdown_item_select search_input">
                                    <option>Thường</option>
                                    <option>VIP</option>
                                </select>
                            </div>
                            <button class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>

                    <!-- Search Panel For "Món ăn" -->

                    <div class="search_panel">
                        <form action="#" id="search_form_3"
                              class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <div class="search_item">
                                <div>Từ khoá liên quan</div>
                                <input type="text" class="destination search_input" required="required">
                            </div>
                            <div class="search_item">
                                <div>Địa điểm muốn đến</div>
                                <select name="locations" id="locations_2" class="dropdown_item_select search_input">
                                    <option name="Tất cả">Tất cả</option>
                                    <option name="Đà Lạt">Đà Lạt</option>
                                    <option name="Hà Nội">Hà Nội</option>
                                    <option name="Huế">Huế</option>
                                    <option name="Vũng Tàu">Vũng Tàu</option>
                                    <option name="SaPa">SaPa</option>
                                    <option name="Đà Nẵng">Đà Nẵng</option>
                                    <option name="Quảng Bình">Quảng Bình</option>
                                    <option name="Phan Thiết">Phan Thiết</option>
                                    <option name="Nha Trang">Nha Trang</option>
                                    <option name="Phan Thiết">Phan Thiết</option>
                                </select>
                            </div>
                            <div class="search_item">
                                <div>Vùng miền</div>
                                <select name="locations" id="locations_3" class="dropdown_item_select search_input">
                                    <option>Miền Bắc</option>
                                    <option>Miền Trung</option>
                                    <option>Miền Nam</option>
                                </select>
                            </div>
                            <button class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Famous Location -->
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="intro_title text-center btn-info">KẾT QUẢ TÌM KIẾM</h2>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-lg-10 offset-lg-1">-->
<!--                    <div class="intro_text text-center">-->
<!--&lt;!&ndash;                        <p>KHÔNG CÓ KẾT QUẢ TÌM KIẾM</p>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row intro_items">
                <%-data_search_post%>
            </div>
        </div>
    </div>




    <div class="contact">
        <div class="contact_background"
             style="background-image:url(images/contact-banner.jpg); background-size: auto"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact_image">

                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact_form_container">
                        <div class="contact_title">Để lại cảm nhận của bạn</div>
                        <form action="#" id="contact_form" class="contact_form">
                            <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Name"
                                   required="required" data-error="Name is required."> <input type="text" id="contact_form_email"
                                                                                              class="contact_form_email input_field"
                                                                                              placeholder="E-mail"
                                                                                              required="required"
                                                                                              data-error="Email is required.">
                            <input
                                    type="text" id="contact_form_subject" class="contact_form_subject input_field"
                                    placeholder="Subject" required="required" data-error="Subject is required."> <textarea
                                    id="contact_form_message" class="text_field contact_form_message" name="message" rows="4"
                                    placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                            <button type="submit" id="form_submit_button" class="form_submit_button button">send
                                message<span></span><span></span><span></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Thêm Footer-->
    <% include ../partials/footer %>
    <!--Thêm thư viện js -->
    <% include ../partials/last_external_library.ejs %>


</body>

</html>