<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cộng đồng cung cấp Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á - Chuyên trang cung cấp thông tin du lịch Việt Nam :
          Du lịch Đà Lạt, Kinh nghiệm du lịch Đà Lạt, Du lịch Hà Nội, Du lịch Huế, Du lịch Đà Nẵng, Du lịch Quảng Bình, Du lịch Nha Trang, Du lịch Phan Thiết, Du lịch SaPa, Du lịch Vũng Tàu">
    <meta name="author" content="<%= domain %>">
    <meta name="keywords"
          content="Thông tin du lịch, Cẩm nang du lịch, Kinh nghiệm du lịch, Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á">
    <link rel="canonical" href="https://thongtindulich.azurewebsites.net/user/list-post">
    <!--Verify Google Master Tool -->
    <meta name="google-site-verification" content="_qsaaDP9sVp1Z0hVtj-tGKbViCma_oqvl5p7Fjzxo8o"/>
    <title>Trang quản lý tài khoản - Danh sách bài viết</title>

    <!--Thêm thư viện css & js-->
    <%- include ../partials/account_manager_first_library.ejs %>

</head>

<body class="">
<div class="wrapper ">
    <!--Thêm navBar-->
    <div class="sidebar" data-color="white" data-active-color="danger">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
        <div class="logo">
            <a href="<%= domain %>" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="../assets/img/logo-small.png">
                </div>
            </a> <a href="?users=account-manager" class="simple-text logo-normal"> Quản lý tài khoản

            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="?users=account-manager"> <i class="nc-icon nc-bank"></i>
                        <p>Tổng quan</p>
                    </a>
                </li>
                <li>
                    <a href="?users=personal-information"> <i class="nc-icon nc-single-02"></i>
                        <p>Thông tin cá nhân</p>
                    </a>
                </li>
                <li class="active">
                    <a href="?users=list-post"> <i class="nc-icon nc-tile-56"></i>
                        <p>Danh sách bài viết</p>
                    </a>
                </li>
                <li>
                    <a href="?users=create-post"> <i class="fa fa-plus-circle" aria-hidden="true"></i></i>
                        <p>Tạo bài viết</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span> <span
                                    class="navbar-toggler-bar bar2"></span> <span
                                    class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="/#pagetop" style="color:orangered;">Về trang chủ</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span> <span
                            class="navbar-toggler-bar navbar-kebab"></span> <span
                            class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <form>
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn-magnify" href="#pablo"> <i class="nc-icon nc-bell-55"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Thông báo</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item btn-rotate dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                        class="nc-icon nc-layout-11"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Quản lý bài viết</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="?users=account-manager">Tổng quan</a>
                                <a class="dropdown-item" href="?users=personal-information">Thông tin cá nhân</a>
                                <a class="dropdown-item" href="?users=list-post">Danh sách bài viết</a>
                                <a class="dropdown-item" href="?users=create-post">Tạo bài viết</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <!--<a class="nav-link btn-rotate" href="#pablo"> <i class="nc-icon nc-settings-gear-65"></i>-->
                            <!--	<p>-->
                            <!--		<span class="d-lg-none d-md-block">Account</span>-->
                            <!--	</p>-->
                            <!--</a>-->
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                        class="nc-icon nc-settings-gear-65"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Quản lý tài khoản</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="?users=account-information">Thông tin tài khoản</a> <a
                                        class="dropdown-item" href="?users=change-password">Đổi mật khẩu</a> <a
                                        class="dropdown-item" href="/loginregister/logout">Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> Các bài viết của bạn</h4>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="?users=delete"  method="POST" class="needs-validation" novalidate>
                                    <input type="submit" formmethod="get" value="Thêm" class="btn btn-info" formaction="/users/create-post">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th>
                                            Tiêu đề/Chủ đề
                                        </th>
                                        <th>
                                            Thời gian đăng
                                        </th>
                                        <th>
                                            Số lượt view
                                        </th>
                                        <th>
                                            Số lượt like
                                        </th>
                                        <th>
                                            Số lượt share
                                        </th>
                                        <th>
                                            Số lượt comment
                                        </th>
                                        </thead>
                                        <tbody id="myTable">
                                        <%- data %>
                                        </tbody>
                                    </table>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Thêm footer-->
        <%- include ../partials/footer_account_manager.ejs %>
    </div>
</div>

<%- include ../partials/account_manager_last_library.ejs %>

</body>

</html>