<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cộng đồng cung cấp Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á - Chuyên trang cung cấp thông tin du lịch Việt Nam :
          Du lịch Đà Lạt, Kinh nghiệm du lịch Đà Lạt, Du lịch Hà Nội, Du lịch Huế, Du lịch Đà Nẵng, Du lịch Quảng Bình, Du lịch Nha Trang, Du lịch Phan Thiết, Du lịch SaPa, Du lịch Vũng Tàu">
    <meta name="author" content="<%= domain %>">
    <meta name="keywords"
          content="Thông tin du lịch, Cẩm nang du lịch, Kinh nghiệm du lịch, Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á">
    <link rel="canonical" href="https://thongtindulich.azurewebsites.net/loginFB">
    <!--Verify Google Master Tool -->
    <meta name="google-site-verification" content="_qsaaDP9sVp1Z0hVtj-tGKbViCma_oqvl5p7Fjzxo8o">
    <title>Trang Đăng nhập</title>

    <!--Include Style & Javascript External Library-->
    <% include ../partials/first_external_library.ejs %>
    <% include ../partials/ui_version_02_first_library.ejs %>

</head>

<body class="bg-gradient-primary">

  
    <!-- Thêm Thanh điều hướng Desktop & Mobile Mode-->
    <% include ../partials/homepage_nav.ejs %>

    <div class="container" style="margin-top:150px">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-loginFB-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Chào mừng bạn trở lại !</h1>
                                    </div>
                                    <form class="user" action="/loginregister/login" method="POST">
                                        <p id="err" style="color: red"></p>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control form-control-user"
                                                   id="email" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user"
                                                   id="password" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                                                                      Me</label>
                                            </div>
                                        </div>

                                    </form><button onclick="submitLogin()" href="#" class="btn btn-primary btn-user btn-block"> Login </button>
                                        <hr>
                                        <a href="#" class="btn btn-google btn-user btn-block"> <i
                                                    class="fab fa-google fa-fw"></i> Login with Google </a> 
                                                    <button
                                                            onclick='login()' class="btn btn-facebook btn-user btn-block"> <i
                                                    class="fab fa-facebook-f fa-fw"></i> Login with Facebook </button>
                                    
                                    <hr>

                                    <div id="fb-root"></div>
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                                    <script type="text/javascript" src="/js/loginfacebook.js">
                                    </script>
                                    <script type="text/javascript" >
                                        $(document).keypress(function(event){

                                            var keycode = (event.keyCode ? event.keyCode : event.which);
                                            if(keycode == '13'){
                                                submitLogin()
                                            }

                                        });
                                        function submitLogin(){
                                            var password = $("#password").val()
                                            var email=$("#email").val()
                                            $.ajax({
                                                url: '/loginregister/login',
                                                data: {
                                                    password : password,
                                                    email :email
                                                },
                                                error: function() {
                                                    // $('#info').html('connect');
                                                },
                                                dataType: 'json',
                                                success: function(data) {
                                                    if(!(data.data))
                                                    {console.log("vào")

                                                        //$("#err").css({"color":"red"})
                                                        $("#err").html(`Sai tài khoản hoặc mật khẩu`)

                                                    }
                                                    else {
                                                        window.location = "http://localhost:8080"+getCookie("urlold")
                                                    }
                                                },
                                                type: 'POST'
                                            });


                                        }

                                    </script>

                                    <div class="text-center">
                                        <a  class="small" href="?users=forgot-password">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/loginregister/register">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
  
    <!--Thêm Footer-->
    <% include ../partials/footer %>
    <!--Thêm thư viện js -->
    <% include ../partials/last_external_library.ejs %>
    <% include ../partials/ui_version_02_last_library.ejs%>


</body>

</html>
