<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cộng đồng cung cấp Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á - Chuyên trang cung cấp thông tin du lịch Việt Nam :
          Du lịch Đà Lạt, Kinh nghiệm du lịch Đà Lạt, Du lịch Hà Nội, Du lịch Huế, Du lịch Đà Nẵng, Du lịch Quảng Bình, Du lịch Nha Trang, Du lịch Phan Thiết, Du lịch SaPa, Du lịch Vũng Tàu">
    <meta name="author" content="<%= domain %>">
    <meta name="keywords"
          content="Thông tin du lịch, Cẩm nang du lịch, Kinh nghiệm du lịch, Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á">
    <link rel="canonical" href="https://thongtindulich.azurewebsites.net/forgot-password">
    <!--Verify Google Master Tool -->
    <meta name="google-site-verification" content="_qsaaDP9sVp1Z0hVtj-tGKbViCma_oqvl5p7Fjzxo8o">
    <title>Trang Quên mật khẩu</title>

    <!--Include Style & Javascript External Library-->
    <% include ../partials/first_external_library.ejs %>
    <% include ../partials/ui_version_02_first_library.ejs %>

</head>

<body class="bg-gradient-primary">
<!-- Thêm Thanh điều hướng Desktop & Mobile Mode-->
<% include ../partials/homepage_nav.ejs %>
<div class="container" style="margin-top:150px">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2" id ="lol">Vui lòng chọn nhập mật khẩu mới</h1>
                                    <p id="err" style="color: red"></p>
                                </div>
                                <div id="form">
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="password" aria-describedby="emailHelp"
                                                   placeholder="Enter PassWord...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="Confirmpass" aria-describedby="emailHelp"
                                                   placeholder="Enter Confirm PassWord...">
                                        </div>
                                    </form><button onclick="submitReset()" class="btn btn-primary btn-user btn-block"> Reset
                                        Password </button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/loginregister/register">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/loginregister/login">Already have an account? Login!</a>
                                </div>
                            </div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                            <script type="text/javascript" >
                                $(document).keypress(function(event){

                                    var keycode = (event.keyCode ? event.keyCode : event.which);
                                    if(keycode == '13'){
                                        submitReset()
                                    }

                                });
                                function submitReset(){
                                    var password = $("#password").val()
                                    var Confirmpass=$("#Confirmpass").val()
                                  if(password==Confirmpass){$.ajax({
                                      url: '/loginregister//reset-password',
                                      data: {
                                          password : password,
                                          Confirmpass :Confirmpass
                                      },
                                      error: function() {
                                          // $('#info').html('connect');
                                      },
                                      dataType: 'json',
                                      success: function(data) {
                                          if(!(data.data))
                                          {console.log("vào")

                                              $("#lol").css({"color":"red"})
                                              $("#lol").html(`Có lỗi xảy ra. Vui lòng thử lại `)

                                          }
                                          else {
                                              $("#form").remove()

                                              $("#lol").html(`Mật khẩu bạn đã cập nhập thành công`)
                                          }
                                      },
                                      type: 'POST'
                                  });}
                                  else {
                                            $("#err").html("Mật khẩu không trùng. Vui lòng nhập lại")
                                  }

                                }

                            </script>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!--Thêm Footer-->
<% include ../partials/footer %>
<!--Thêm thư viện js -->
<% include ../partials/last_external_library.ejs %>
<% include ../partials/ui_version_02_last_library.ejs%>

</body>

</html>
