<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cộng đồng cung cấp Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á - Chuyên trang cung cấp thông tin du lịch Việt Nam :
          Du lịch Đà Lạt, Kinh nghiệm du lịch Đà Lạt, Du lịch Hà Nội, Du lịch Huế, Du lịch Đà Nẵng, Du lịch Quảng Bình, Du lịch Nha Trang, Du lịch Phan Thiết, Du lịch SaPa, Du lịch Vũng Tàu">
    <meta name="author" content="<%= domain %>">
    <meta name="keywords"
          content="Thông tin du lịch, Cẩm nang du lịch, Kinh nghiệm du lịch, Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á">
    <link rel="canonical" href="https://thongtindulich.azurewebsites.net/topic/tin-moi">
    <!--Verify Google Master Tool -->
    <meta name="google-site-verification" content="_qsaaDP9sVp1Z0hVtj-tGKbViCma_oqvl5p7Fjzxo8o">
    <title>Bài viết mới</title>

    <!--Include Style & Javascript External Library-->
    <% include ../partials/first_external_library.ejs %>
    <% include ../partials/ui_version_02_first_library.ejs %>
</head>

<body>

    <!-- Thêm Thanh điều hướng Desktop & Mobile Mode-->
    <% include ../partials/homepage_nav.ejs %>

    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll"
             data-image-src="/images/blog_background.jpg"></div>
        <div class="home_content">
            <div class="home_title">CÁC BÀI VIẾT</div>
        </div>
    </div>

    <!-- Blog -->

    <div class="blog">
        <div class="container">
            <div class="row">

                <!-- Blog Content -->

                <div class="col-lg-8">

                    <div class="blog_post_container">
                        <div id="blog_parameters"></div>
                        <!-- Blog Post 01 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_2%>" alt="<%=post_title_2%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_2%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_2%>"><%=post_title_2%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_2%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_2%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 02 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_2%>" alt="<%=post_title_2%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_2%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_2%>"><%=post_title_2%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_2%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_2%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 03 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_3%>" alt="<%=post_title_3%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_3%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_3%>"><%=post_title_3%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_3%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_3%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 04 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_4%>" alt="<%=post_title_4%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_4%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_4%>"><%=post_title_4%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_4%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_4%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 05 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_5%>" alt="<%=post_title_5%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_5%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_5%>"><%=post_title_5%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_5%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_5%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 06 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_6%>" alt="<%=post_title_6%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_6%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_6%>"><%=post_title_6%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_6%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_6%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 07 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_7%>" alt="<%=post_title_7%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_7%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_7%>"><%=post_title_7%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_7%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_7%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 08 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_8%>" alt="<%=post_title_8%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_8%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_8%>"><%=post_title_8%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_8%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_8%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 09 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_9%>" alt="<%=post_title_9%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_9%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_9%>"><%=post_title_9%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_9%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_9%>">Đọc thêm</a></div>
                        </div>

                        <!-- Blog Post 10 -->

                        <div class="blog_post">
                            <div class="blog_post_image">
                                <img src="<%=post_route_img_10%>" alt="<%=post_title_10%>">
                                <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="blog_post_day">22</div>
                                    <div class="blog_post_month">May, 2019</div>
                                </div>
                            </div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li class="blog_post_meta_item"><a href=""><%=post_author_10%></a></li>
                                    <li class="blog_post_meta_item"><a href="">Travel</a></li>
                                    <li class="blog_post_meta_item"><a href="">0 Comments</a></li>
                                </ul>
                            </div>
                            <div class="blog_post_title"><a href="<%=post_route_10%>"><%=post_title_10%></a></div>
                            <div class="blog_post_text">
                                <p>
                                    <%=post_description_10%>
                                </p>
                            </div>
                            <div class="blog_post_link"><a href="<%=post_route_10%>">Đọc thêm</a></div>
                        </div>

                    </div>

                    <div class="blog_navigation">
                        <ul>
                            <li class="blog_dot active">
                                <div></div>
                                01.
                            </li>
                            <li class="blog_dot">
                                <div></div>
                                02.
                            </li>
                            <li class="blog_dot">
                                <div></div>
                                03.
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Blog Sidebar -->

                <div class="col-lg-4 sidebar_col">

                    <!-- Sidebar Search -->
                    <div class="sidebar_search">
                        <form >
                            <input id="sidebar_search_input" type="search" class="sidebar_search_input" placeholder="Nhập từ khoá cần tìm"
                                   required="required">
                            <button id="sidebar_search_button" onclick="search_news()" type="button" class="sidebar_search_button trans_300"
                                    value="Submit">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                     width="17px" height="17px" viewBox="0 0 512 512"
                                     enable-background="new 0 0 512 512" xml:space="preserve">
									<g>
                                        <g>
                                            <g>
                                                <path class="mag_glass" fill="#FFFFFF" d="M78.438,216.78c0,57.906,22.55,112.343,63.493,153.287c40.945,40.944,95.383,63.494,153.287,63.494
												s112.344-22.55,153.287-63.494C489.451,329.123,512,274.686,512,216.78c0-57.904-22.549-112.342-63.494-153.286
												C407.563,22.549,353.124,0,295.219,0c-57.904,0-112.342,22.549-153.287,63.494C100.988,104.438,78.439,158.876,78.438,216.78z
												M119.804,216.78c0-96.725,78.69-175.416,175.415-175.416s175.418,78.691,175.418,175.416
												c0,96.725-78.691,175.416-175.416,175.416C198.495,392.195,119.804,313.505,119.804,216.78z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path class="mag_glass" fill="#FFFFFF" d="M6.057,505.942c4.038,4.039,9.332,6.058,14.625,6.058s10.587-2.019,14.625-6.058L171.268,369.98
												c8.076-8.076,8.076-21.172,0-29.248c-8.076-8.078-21.172-8.078-29.249,0L6.057,476.693
												C-2.019,484.77-2.019,497.865,6.057,505.942z"/>
                                            </g>
                                        </g>
                                    </g>
								</svg>
                            </button>
                        </form>
                    </div>

                    <!-- Sidebar Archives -->
                    <div class="sidebar_archives">
                        <div class="sidebar_title">Bài viết đã đăng</div>
                        <div class="sidebar_list">
                            <ul>
                                <li><a href="?topic=tin-moi">May 2019</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Sidebar Archives -->
                    <div class="sidebar_categories">
                        <div class="sidebar_title">Loại bài viết</div>
                        <div class="sidebar_list">
                            <ul>
                                <li><a href="?topic=dia-diem-du-lich">Địa điểm du lịch</a></li>
                                <li><a href="?topic=khach-san-tot">Khách sạn</a></li>
                                <li><a href="?topic=mon-an-ngon">Món ăn</a></li>
                                <li><a href="?topic=kinh-nghiem-du-lich">Kinh nghiệm du lịch</a></li>
                                <li><a href="?topic=tin-moi">Tất cả</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Sidebar Latest Posts -->

                    <div class="sidebar_latest_posts">
                        <div class="sidebar_title">Bài viết mới nhất</div>
                        <div class="latest_posts_container">
                            <ul>

                                <!-- Latest Post 01-->
                                <li class="latest_post clearfix">
                                    <div class="latest_post_image">
                                        <a href="<%=post_route_1%>"><img src="<%=post_route_img_1%>" alt="<%=post_title_1%>"></a>
                                    </div>
                                    <div class="latest_post_content">
                                        <div class="latest_post_title trans_200"><a href="<%=post_route_1%>"><%=post_title_1%></a>
                                        </div>
                                        <div class="latest_post_meta">
                                            <div class="latest_post_author trans_200"><a href="?author=<%=post_route_1%>">by <%=post_author_1%></a>
                                            </div>
                                            <div class="latest_post_date trans_200"><a href="#time">May 22, 2019</a></div>
                                        </div>
                                    </div>
                                </li>

                                <!-- Latest Post 02-->
                                <li class="latest_post clearfix">
                                    <div class="latest_post_image">
                                        <a href="<%=post_route_2%>"><img src="<%=post_route_img_2%>" alt="<%=post_title_2%>"></a>
                                    </div>
                                    <div class="latest_post_content">
                                        <div class="latest_post_title trans_200"><a href="<%=post_route_2%>"><%=post_title_2%></a>
                                        </div>
                                        <div class="latest_post_meta">
                                            <div class="latest_post_author trans_200"><a href="?author=<%=post_route_2%>">by <%=post_author_2%></a>
                                            </div>
                                            <div class="latest_post_date trans_200"><a href="#time">May 22, 2019</a></div>
                                        </div>
                                    </div>
                                </li>

                                <!-- Latest Post 03-->
                                <li class="latest_post clearfix">
                                    <div class="latest_post_image">
                                        <a href="<%=post_route_6%>"><img src="<%=post_route_img_6%>" alt="<%=post_title_6%>"></a>
                                    </div>
                                    <div class="latest_post_content">
                                        <div class="latest_post_title trans_200"><a href="<%=post_route_6%>"><%=post_title_6%></a>
                                        </div>
                                        <div class="latest_post_meta">
                                            <div class="latest_post_author trans_200"><a href="?author=<%=post_route_6%>">by <%=post_author_6%></a>
                                            </div>
                                            <div class="latest_post_date trans_200"><a href="#time">May 22, 2019</a></div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!-- Sidebar Gallery -->
                    <div class="sidebar_gallery">
                        <div class="sidebar_title">Hình ảnh</div>
                        <div class="gallery_container">
                            <ul class="gallery_items d-flex flex-row align-items-start justify-content-between flex-wrap">
                                <li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_1%>">
                                        <img src="<%=post_route_img_1%>" alt="<%=post_title_1%>">
                                    </a>
                                </li>
                                <li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_2%>">
                                        <img src="<%=post_route_img_2%>" alt="<%=post_title_2%>">
                                    </a>
                                </li><li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_3%>">
                                        <img src="<%=post_route_img_3%>" alt="<%=post_title_3%>">
                                    </a>
                                </li><li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_4%>">
                                        <img src="<%=post_route_img_4%>" alt="<%=post_title_4%>">
                                    </a>
                                </li><li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_5%>">
                                        <img src="<%=post_route_img_5%>" alt="<%=post_title_5%>">
                                    </a>
                                </li><li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_6%>">
                                        <img src="<%=post_route_img_6%>" alt="<%=post_title_6%>">
                                    </a>
                                </li><li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_7%>">
                                        <img src="<%=post_route_img_7%>" alt="<%=post_title_7%>">
                                    </a>
                                </li><li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_8%>">
                                        <img src="<%=post_route_img_8%>" alt="<%=post_title_8%>">
                                    </a>
                                </li><li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_9%>">
                                        <img src="<%=post_route_img_9%>" alt="<%=post_title_9%>">
                                    </a>
                                </li><li class="gallery_item">
                                    <a class="colorbox"
                                       href="<%=post_route_img_10%>">
                                        <img src="<%=post_route_img_10%>" alt="<%=post_title_10%>">
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Thêm Footer-->
    <% include ../partials/footer %>
    <!--Thêm thư viện js -->
    <% include ../partials/last_external_library.ejs %>
    <% include ../partials/ui_version_02_last_library.ejs%>

</body>

</html>
