<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cộng đồng cung cấp Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á - Chuyên trang cung cấp thông tin du lịch Việt Nam :
          Du lịch Đà Lạt, Kinh nghiệm du lịch Đà Lạt, Du lịch Hà Nội, Du lịch Huế, Du lịch Đà Nẵng, Du lịch Quảng Bình, Du lịch Nha Trang, Du lịch Phan Thiết, Du lịch SaPa, Du lịch Vũng Tàu">
    <meta name="author" content="<%= domain %>">
    <meta name="keywords"
          content="Thông tin du lịch, Cẩm nang du lịch, Kinh nghiệm du lịch, Thông tin du lịch bốn phương Việt Nam hấp dẫn chất lượng hàng đầu Đông Nam Á">
    <link rel="canonical" href="https://thongtindulich.azurewebsites.net/topic/lien-he">
    <!--Verify Google Master Tool -->
    <meta name="google-site-verification" content="_qsaaDP9sVp1Z0hVtj-tGKbViCma_oqvl5p7Fjzxo8o">
    <title>Liên hệ</title>

    <!--Include Style & Javascript External Library-->
    <% include ../partials/first_external_library.ejs %>
    <% include ../partials/ui_version_02_first_library.ejs %>
</head>

<body>

    <!-- Thêm Thanh điều hướng Desktop & Mobile Mode-->
    <% include ../partials/homepage_nav.ejs %>

    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll"
             data-image-src="/images/contact_background.jpg"></div>
        <div class="home_content">
            <div class="home_title">Liên hệ</div>
        </div>
    </div>

    <!-- Contact -->

    <div class="contact_form_section">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Contact Form -->
                    <div class="contact_form_container">
                        <div class="contact_title text-center">Liên hệ với chúng tôi</div>
                        <form action="#" id="contact_form" class="contact_form text-center">
                            <input type="text" id="contact_form_name" class="contact_form_name input_field"
                                   placeholder="Name" required="required" data-error="Name is required."> <input
                                    type="text" id="contact_form_email" class="contact_form_email input_field"
                                    placeholder="E-mail" required="required" data-error="Email is required."> <input
                                    type="text" id="contact_form_subject" class="contact_form_subject input_field"
                                    placeholder="Subject" required="required" data-error="Subject is required.">
                            <textarea id="contact_form_message" class="text_field contact_form_message" name="message"
                                      rows="4" placeholder="Message" required="required"
                                      data-error="Please, write us a message."></textarea>
                            <button type="submit" id="form_submit_button" class="form_submit_button button trans_200">
                                send message<span></span><span></span><span></span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                    <!-- About - Image -->

                    <div class="about_image">
                        <img src="/images/gallery_5.jpg" alt="Liên hệ" style="width:354px;height:543px;">
                    </div>

                </div>

                <div class="col-lg-4">

                    <!-- About - Content -->

                    <div class="about_content">
                        <div class="logo_container about_logo">
                            <div class="logo"><a href="#"><img src="/images/logo.png" alt="">Travel Information</a>
                            </div>
                        </div>
                        <p class="about_text">Travel là website thuộc tên miền thongtindulich.azurewebsites.net , Đội
                                              ngủ phát triển website hướng đến xây dựng một website miễn phí, một cộng
                                              đồng chia sẻ thông tin hữu ích về du lịch khắp thế giới.
                        </p>
                        <ul class="about_social_list">
                            <li class="about_social_item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-3">

                    <!-- About Info -->

                    <div class="about_info">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="/images/placeholder.svg" alt=""></div>
                                </div>
                                <div class="contact_info_text">Khu phố 6, phường Linh Trung, quận Thủ Đức</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="/images/phone-call.svg" alt=""></div>
                                </div>
                                <div class="contact_info_text">033-992-7799 or 0847-22-1818</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="/images/message.svg" alt=""></div>
                                </div>
                                <div class="contact_info_text"><a
                                            href="mailto:doanngoctai1998@gmail.com?Subject=Mail was sent from thongtindulich.azurewebsites.net"
                                            target="_top">doanngoctai1998@gmail.com</a></div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="/images/planet-earth.svg" alt=""></div>
                                </div>
                                <div class="contact_info_text"><a href="https://thongtindulich.azurewebsites.net">thongtindulich
                                                                                                                     .azurewebsites.net</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--&lt;!&ndash; Google Map &ndash;&gt;-->

    <!--<div class="travelix_map">-->
    <!--    <div id="google_map" class="google_map">-->
    <!--        <div class="map_container">-->
    <!--            <div id="map">-->
    <!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3184102461473!2d106.75929081440985!3d10.863368892262582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175278521e2b8f5%3A0xad45d0373684ee1!2za2h1IHBo4buRIDYsIFRo4bunIMSQ4bupYywgSG8gQ2hpIE1pbmggQ2l0eSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1561211601359!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!--Thêm Footer-->
    <% include ../partials/footer %>
    <!--Thêm thư viện js -->
    <% include ../partials/last_external_library.ejs %>
    <% include ../partials/ui_version_02_last_library.ejs %>

</body>

</html>